@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.filter{
    position: absolute;
    top:0;
    left: 0;
    margin-top: 0;
    width: 250px;
    min-height: 300px;
    background-color: #7796a6;
    border-radius: 10px;
    border-style: double;
    border-width: 6px;
    border-color: black;
}
.form-category{
    position:relative;
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}
.property{
    width: 30px;
}
.property-name{
    position:relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    color:black;
    font-family:Son;
    font-size: 20px;
}
.select{
    position: relative;
    display: inline;
    margin-left: 20px;
    color: #0c4379;
    font-family: "Open Sans";
}

.filter-button{
    position:relative;
    display: block;
    margin-top: 50px;
    margin-left: 85px;
    background-color: #cfd8dc;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

